@model Boletim.Models.Turma
    <br />
<center>
    <h1>Cadastros</h1>
</center>


<br />
<h1>Cadastrar Aluno</h1>
<br />

@Html.ActionLink("Cadastrar", "CadastroAluno", "Cadastramento", null, new { @class = "btn btn-primary" })
<br />
<br />
<br />
<br />
<h1>Cadastrar Professor </h1>
<br />
@Html.ActionLink("Cadastrar", "CadastroProfessor", "Cadastramento", null, new { @class = "btn btn-primary" })
<br />
<br />
<br />
<br />
<h1>Cadastrar Turma</h1>
<br />
@Html.ActionLink("Cadastrar", "CadastroTurma", "Cadastramento", null, new { @class = "btn btn-primary" })
<br />
<br />



<br />
@Html.ActionLink("Voltar", "Index", "Home")
</body>
</html>