@model Boletim.TURMA
<html>
<head>
</head>
    <style>
    body {
        background-color: #4A6398;
        margin: 100px;
    }

    .um {
        width: 100%;
        color: #000;
        border: 4px solid #000;
        height: 900px;
        background-color: white;
        border-radius: 25px;
        box-sizing: border-box;
    }
</style>
<body>

    <br />

    <div class="um">
        <br />
        <center>

            <h1>Cadastros</h1>
        </center>
        <br />

        <h1>Cadastrar Aluno</h1>

        @Html.ActionLink("Cadastrar", "Index", "Aluno", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        <br />
        <h1>Cadastrar Professor </h1>
        <br />
        @Html.ActionLink("Cadastrar", "Index", "Professor", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        <br />
        <br />
        <h1>Cadastrar Turma</h1>
        <br />
        @Html.ActionLink("Cadastrar", "Index", "Turma", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        <br />
        <h1>Cadastrar Materia</h1>
        <br />
        @Html.ActionLink("Cadastrar", "Index", "Materia", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        <br />
        
     

    </div>
</body>
</html>
