@model IEnumerable< SistemaBoletim.Dominio.Aluno>

@{
    ViewBag.Title = "CadastroAluno";
}<html>
<head>Cadastro Aluno</head>
 <body>
     <div>
         <br />
         <br />
         <br />
         <br />
         <br />
         <Center>
             <h2>Cadastro do Aluno</h2>
         </Center>
         <ul>
             <h1>Lista de Alunos</h1>
             @foreach (var aluno in Model)
             {
                 <li>@aluno.Nome</li>
             }
         </ul>
     </div>

 </body>
</html>
