
@{
    ViewBag.Title = "CadastroAluno";
}<html>
<head>Cadastro Aluno</head>
 <body>
     <div>
         <br />
         <br />
         <br />
         <br />
         <br />
         <Cemter>
             <h2>Cadastro do Aluno</h2>
         </Cemter>
     </div>
 </body>
</html>
